<div class="backgrond-setter">
<div class="registration-box">
  <div>
      <div class="row" >
        <div class="col-md-8 text-black">
          <h2 class="text-white" style="font-family: Times New Roman; color: black;">About Mavericks Bank</h2>
          <p>Welcome to Mavericks Bank, your trusted financial partner. At Mavericks Bank, we are committed to providing top-notch banking services tailored to meet your needs.</p>
          <p>Founded in 20XX, Mavericks Bank has been serving customers with integrity and excellence. Our mission is to empower individuals and businesses to achieve their financial goals through innovative solutions and personalized service.</p>
          <p>As a customer-centric bank, we prioritize your satisfaction and strive to exceed your expectations at every step. Whether you're looking for personal banking services, business solutions, or investment opportunities, Mavericks Bank has you covered.</p>
          <p>Our core values include:</p>
          <ul>
            <li>Integrity</li>
            <li>Transparency</li>
            <li>Innovation</li>
            <li>Customer Focus</li>
            <li>Community Engagement</li>
          </ul>
          <p>At Mavericks Bank, we adhere to strict ethical standards and regulatory compliance to ensure the security and confidentiality of your financial information. Your trust is our most valuable asset, and we are committed to upholding it.</p>
        </div>
        <div class="policies col-md-4">
          <h3 style="font-family: Times New Roman; color: yellow;">Our Policies</h3>
          <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Security Measures</a></li>
            <li><a href="#">Cookie Policy</a></li>
          </ul>
          <h3 style="font-family: Times New Roman; margin-top: 2rem; color: yellow;">Contact Information</h3>
          <p>If you have any questions or concerns, feel free to reach out to us:</p>
          <ul>
            <li>Email: <a href="mailto:info@mavericksbank.com">infomavericksbank.com</a></li>
            <li>Phone: +91 1234567890</li>
            <li>Address: 123 Main Street, Mumbai west, India</li>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#" class="text-black"><i class="bi bi-instagram" style="color: white;"></i></a></li>
              <li class="list-inline-item"><a href="#" class="text-black"><i class="bi bi-whatsapp" style="color: white;"></i></a></li>
              <li class="list-inline-item"><a href="#" class="text-black"><i class="bi bi-twitter" style="color: white;"  ></i></a></li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
</div>
</div>
  