.registration-box {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  /* margin-top: 20px; */
}

.registration-box h2 {
  text-align: center;
  color: #333;
}


.container {
    margin-top: 50px;
  }
  
  .col-md-8 {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
  }
  
  .col-md-8 h2 {
    color: #0c0c0c;
    margin-bottom: 20px;
  }
  
  .col-md-8 p {
    color: #555;
    line-height: 1.6;
  }
  
  .col-md-4 {
    background-color: #244c91;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .col-md-4 h3 {
    color: #f6ebeb;
    margin-bottom: 20px;
  }
  
  .col-md-4 ul {
    list-style-type: none;
    padding: 0;
  }
  
  .col-md-4 ul li {
    margin-bottom: 10px;
  }
  
  .col-md-4 ul li a {
    color: #f3eeee;
    text-decoration: none;
  }
  
  .col-md-4 ul li a:hover {
    text-decoration: underline;
  }
  
  .col-md-4 p {
    color: #eee7e7;
    margin-top: 20px;
  }
  
  .col-md-4 ul li a:hover {
    text-decoration: underline;
  }
  .list-inline{
    color: rgb(232, 224, 224);
  }
  h2{
    background-color: rgb(44, 89, 148);
    color: white;
    font-family: Georgia;
  }
  h3{
    font-family: 'Trebuchet MS';
  }
  .list-inline{
    margin-top: 5rem;
    font-size: 27px;
    text-align: center;
  }

  .backgrond-setter{
    background-image: url(/../assets/Images/homeback.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    height: 100vh;
  }
  