.account-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-top: 80px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  h2{
    background-color: rgb(44, 89, 148);
    color: white;
    margin-top: 0px;
    text-align: center;
  }
  .backgrond-setter{
    background-image: url(/../assets/Images/backimage.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    height: 100vh;
  }