table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #ccc;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

.approve-button, .disapprove-button {
  padding: 8px 12px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.approve-button {
  background-color: #4CAF50; /* Green */
  color: white;
}

.approve-button:hover {
  background-color: #45a049;
}

.disapprove-button {
  background-color: #f44336; /* Red */
  color: white;
}

.disapprove-button:hover {
  background-color: #d32f2f;
}

.outer-box {
  border: 2px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.inner-box {
  display: none;
}

.outer-box:hover .inner-box {
  display: block;
}

.second-outer-box {
  border: 2px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.second-inner-box {
  display: none;
}

.second-outer-box:hover .second-inner-box {
  display: block;
}

.third-outer-box {
  border: 2px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.third-box {
  display: none; /* Corrected class name */
}

.third-outer-box:hover .third-box { /* Corrected class name */
  display: block;
}

.fourth-outer-box {
  border: 2px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.box-header {
  background-color: #f2f2f2;
  padding: 10px;
}

.fourth-box {
  display: none;
}

.fourth-outer-box:hover .fourth-box {
  display: block;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.fifth-outer-box {
  border: 2px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.fifth-box {
  display: none;
}

.fifth-outer-box:hover .fifth-box {
  display: block;
}


table {
  border-collapse: collapse;
  width: 100%;
}

.logo{
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  background-color: rgb(242, 238, 235);
  color: black;
  
}

/* .back{
  background-image: url(/../assets/Images/homeback.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  height: 100vh;
} */
