<div class="top-panel">
    <h2>Forgot Password</h2>
    <p>Follow the procedure for new password</p>
    <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit()">
        <p class="line">Enter following details</p>
        <input type="text" name="username" placeholder="Username" required [(ngModel)]="model.username">
        <input type="text" name="name" placeholder="Name" required [(ngModel)]="model.name">
        <input type="text" name="address" placeholder="Address" required [(ngModel)]="model.address">
        <input type="email" name="email" placeholder="Email" required [(ngModel)]="model.email">
        <button type="submit" [disabled]="!forgotPasswordForm.valid">Submit</button>
    </form>
</div>