<body>
    <h4 class="top-panel">Please Enter New Password</h4>
    <div class="container" style="margin-top: -7rem;">
        <form>
            <p class="line">Enter new password</p>
            <input type="password" name="newPassword" [(ngModel)]="newPassword" placeholder="New Password" required>
            <p class="line">Confirm password</p>
            <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm Password" required>
            <button type="button" (click)="onSubmit()">Submit</button>
        </form>
    </div>
</body>